input[type="radio"] {
  vertical-align: top;
  margin-left: 0.5em;
  margin-right: 0.3em;

}

div.pure-u-6-24 {
	padding: 0.5em;
}

div.search-div-element {
	background-color: 	#F5F5F5;
}


.searchpic {
	width: 150;
}

p.search-element {
	margin-left: 0.5em;
}
